replicaCount: 1

image:
  repository: 
  pullPolicy: IfNotPresent
  tag: "latest"
service:
  type: ClusterIP
  port: 3000
  targetPort: 3000

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80
 